/* common */
.hide{
    display: none;
}


/* wrapper */
.wrapper {
    /* background: pink; */
    width: 70%;
    min-width: 650px;
    font-size: 25px;
    font-family: 'NanumSquareRound', sans-serif;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}


/*header */
h1.titleH1{
    /* background: orange; */
    border: 8px double #000;
    background: #fff;

    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;

    font-size: 80px;
    font-weight: bold;
    text-align: center;
}


/*section */
section{
    border: 8px double #000;
    background: #fff;

    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}


/*section - colorBtn*/
#colorBtn{
    /* background: yellow; */
    width: 39.99px;
    margin: 18px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}
#colorBtn button{
    width: 40px;
    height: 40px;
    font-size: 29px;
    text-align: center;
    cursor: pointer;

    margin: 7px 0;
    border: none;
    border-radius: 50%;
    /* box-shadow: 3px 3px 3px gray; */
}



/* section - gamebord */
#gamebord { 
    /* border: 1px solid #000; */
    /* background: pink; */
    margin: 0 10px;
}


/* section - gamebord - explain */
#explain {
    width: 350px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#explain .game-story{
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
}

#explain .level-choise{
    margin-top: 40px;
    margin-bottom: 10px;
}

#explain .level-wrap{
    display: flex;
    justify-content: center;
}

#explain .level-wrap div{
    width: 40px;
    height: 40px;
    line-height: 40px;

    border: 1px dotted #000;
    margin: 0 10px;
    cursor: pointer;
}


/* section - gamebord - letterBord  */
#letterBord{
    /* border: 1px solid #000; */
    /* background: pink; */
    font-size: 80px;
    margin: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 웃 마우스 커서 설정 */
#letterBord div{
    cursor: pointer;   
}


#startBtn{
    position: absolute;
    left: 10%;
}


/* section - nav */
nav {
    /* border: 1px solid #000; */
    /* background: yellow; */
    width: 130px;
    margin: 25px 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* nav - clock */
#clock {
    /* background: gray; */
    font-size: 1.3em
}

/* nav - checkboxBtn */
#checkboxBtn{
    /* background: tomato; */

    display: flex;
    flex-flow: column wrap;
}


/* -------------- js 적용 CSS ---------------*/

/* 색 바꾸기 모드 */
/* sliverMode blackMode greenMode purpleMode */

/* sliverMode */
#colorBtn .silverBtn{
    background: #e3e5de;
    color: #392f31;
}

body.sliverMode{
    background: #e3e5de;
    color: #392f31;
    box-shadow: 2px 2px 2px #2a2a2a;
}
h1.sliverMode{
    background: #e3e5de;
    border: 8px double #392f31;
    color: #392f31;
    box-shadow: 2px 2px 2px #2a2a2a;
}
section.sliverMode{
    background: #e3e5de;
    border: 8px double #392f31;
    box-shadow: 2px 2px 2px #2a2a2a;
}
section.sliverMode #gamebord{
    background: #e3e5de;    
    color: #392f31;
}

/* blackMode */
#colorBtn .blackBtn{
    background: #000;
    color: #3498DB;
}

body.blackMode{
    background: #000;
    color: #AED6F1;
}

h1.blackMode{
    background: #000;
    border: 8px double #AED6F1;
    color: #3498DB;
}
section.blackMode{
    background: #000;
    border: 8px double #AED6F1;
}
section.blackMode #gamebord{
    background: #000;    
    color: #3498DB;
}

/* greenMode */
#colorBtn .greenBtn{
    background: #186A3B;
    color: #ffd700;
}
body.greenMode{
    background: #186A3B;
    color: #ffd700;
    box-shadow: 2px 2px 2px #3d3d3d;
}
h1.greenMode{
    background: #186A3B;
    border: 8px double #ffd700;
    color: #ffd700;
    text-shadow: 2px 2px 2px #3d3d3d;
    box-shadow: 2px 2px 2px #3d3d3d;
}
section.greenMode{
    background: #186A3B;
    border: 8px double #ffd700;
    box-shadow: 2px 2px 2px #3d3d3d;
}
section.greenMode #gamebord{
    background: #186A3B;    
    color: #ffd700;
    text-shadow: 2px 2px 2px #3d3d3d;
}



/* purpleMode */
#colorBtn .purpleBtn{
    background: #8b00ff;
    color: #ff00ff;
}
body.purpleMode{
    background: #8b00ff;
    color: #e0c0e0;
    box-shadow: 2px 2px 2px #808080;
}
h1.purpleMode{
    background: #8b00ff;
    border: 8px double #e0c0e0;
    color: #ff00ff;
    text-shadow: 2px 2px 2px #808080;
    box-shadow: 2px 2px 2px #808080;
}
section.purpleMode{
    background: #8b00ff;
    border: 8px double #e0c0e0;
    box-shadow: 2px 2px 2px #808080;
}
section.purpleMode #gamebord{
    background: #8b00ff;    
    text-shadow: 2px 2px 2px #808080;
}
section.purpleMode .game-story{
    color: #ff00ff;
}
section.purpleMode #letterBord{
    color: #ff00ff;
}




/* explain 사라지기 */
#explain.disappear {
    display: none;
}


/* letterBord - 난이도별 크기*/
#letterBord.level9{
    width: 350px;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
}
#letterBord.level9 div{
    font-size: 70px;
    line-height: 70px;
    margin: 10px;
}

#letterBord.level49{
    width: 450px;
    height: 450px;
    padding: 10px;
}
#letterBord.level49 div{
    font-size: 50px;
    line-height: 1;
    margin: 8px;
}

#letterBord.level100{
    width: 550px;
    height: 550px;
    padding: 10px;
}
#letterBord.level100 div{
    font-size: 45px;
    line-height: 1;
    margin: 5px;
}


/* 힌트 보여주기 */
#letterBord .clickHere.hint{
    font-weight: 700;
}


/* answer letter */
/* 정답 숨어있는 상태 */
#answerLetter {
    display: none;
    width: 350px;
    position: relative;
    font-size: 1.5em;
}

/* 정답 나오기! */
#answerLetter.finished {
    display: flex;
}


/* 정답 글자들 위치 */
#answerLetter .first {
    position: absolute;
    top: 150px;
    left: 40px;
}
#answerLetter .second {
    position: absolute;
    top: 100px;
    left: 100px;
}
#answerLetter .third {
    position: absolute;
    top: 200px;
    left: 150px;
}
#answerLetter .force {
    position: absolute;
    top: 170px;
    left: 230px;
}
#answerLetter .fifth {
    position: absolute;
    top: 40px;
    left: 200px;
}
#answerLetter .sixth {
    position: absolute;
    top: 80px;
    left: 280px;
}