/* common */
.hide{
    display: none;
}


/* wrapper */
.wrapper {
    /* background: pink; */
    width: 70%;
    min-width: 650px;
    font-size: 25px;
    font-family: 'NanumSquareRound', sans-serif;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

/* header */
h1.titleH1 {
    /* background: orange; */
    border: 8px double #000;
    background: #fff;

    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;

    font-size: 80px;
    font-weight: bold;
    text-align: center;
}


/* section */
section{
    border: 8px double #000;
    background: #fff;

    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}


/*section - colorBtn*/
#colorBtn{
    /* background: yellow; */
    width: 39.99px;
    margin: 18px 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}
#colorBtn button{
    width: 40px;
    height: 40px;
    font-size: 29px;
    text-align: center;
    cursor: pointer;

    margin: 7px 0;
    border: none;
    border-radius: 50%;
    /* box-shadow: 3px 3px 3px gray; */
}
#colorBtn .whiteBtn{
    background: white;
    color: black;
}
#colorBtn .blackBtn{
    background: black;
    color: skyblue;
}
#colorBtn .greenBtn{
    background: green;
    color: yellow;
}
#colorBtn .purpleBtn{
    background: purple;
    color: white;
}



/* section - gamebord */
#gamebord { 
    border: 1px solid #000;
    background: pink;
    margin: 0 10px;
}


/* section - explain  >> 작업해야 함 */
#explain {
    width: 350px;
    background: pink;
}

#letterBord{
    /* border: 1px solid #000; */
    /* background: pink; */
    font-size: 80px;
    margin: 0 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* 
#letterBord div{
    margin: 10px;
} */

#startBtn{
    position: absolute;
    left: 10%;
}


/* section - nav */
nav {
    /* border: 1px solid #000; */
    /* background: yellow; */
    width: 100px;
    margin: 25px 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* nav - clock */
#clock {
    /* background: gray; */
    font-size: 1.3em
}

/* nav - checkboxBtn */
#checkboxBtn{
    /* background: tomato; */

    display: flex;
    flex-flow: column wrap;
}



/* 색 바꾸기 모드 */
/* sliverMode */
body.sliverMode{
    background: #767676;
    color: #615F62;
}
h1.titleH1.sliverMode{
    background: #AFAFB0;
}
section.sliverMode{
    background: #AFAFB0;
}

/* explain 사라지기 */
#explain.disappear {
    display: none;
}

/* letterBord - 난이도별 크기*/
#letterBord.level9{
    width: 300px;
    height: 300px;
    padding: 10px;
}
#letterBord.level9 div{
    font-size: 80px;
    line-height: 1;
    margin: 10px;
}

#letterBord.level49{
    width: 450px;
    height: 450px;
    padding: 10px;
}
#letterBord.level49 div{
    font-size: 50px;
    line-height: 1;
    margin: 8px;
}

#letterBord.level100{
    width: 550px;
    height: 550px;
    padding: 10px;
}
#letterBord.level100 div{
    font-size: 45px;
    line-height: 1;
    margin: 5px;
}